.task-date-wrapper {
  display: flex;
  flex-direction: column;

  .task-date .tasks-body {
    flex: 0 1 100%;
  }

  .tasks-body {
    display: flex;
    flex-direction: column;
    height: auto;
    transition: height .5s ease-in-out;
  }
}

.task-date-wrapper.collapsed {
  .tasks-body {
    max-height: 0;
    opacity: 0;
  }
}