.task-fields {
  .task-header.edit {
    .non-edit-header {
      display: none;
    }

    .edit-header-input {
      display: block;
    }
  }

  .task-header {
    .edit-header-input {
      display: none;
    }
  }

  .task-description.edit {
    .non-edit-description {
      display: none;
    }

    .edit-description-input {
      display: block;
    }
  }

  .task-description {
    .edit-description-input {
      display: none;
    }
  }

  .dropdown {
    button, .btn-secondary:not(:disabled):not(.disabled):active {
      color: #212020;
      background-color: transparent;
      font-size: 14px;
      outline: none;
      border: none;
      padding-top: 0;
      padding-bottom: 0;
      box-shadow: none;
    }

    button:focus {
      box-shadow: none;
      outline: none;
    }



    button.btn.btn-secondary:before {
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      top: 7px;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      background: #C9C9C9 0% 0% no-repeat padding-box;
    }

    button.btn.btn-secondary.priority-1:before {
      background: #307e02 0% 0% no-repeat padding-box;
    }

    button.btn.btn-secondary.priority-2:before {
      background: #F7C920 0% 0% no-repeat padding-box;
    }

    button.btn.btn-secondary.priority-3:before {
      background: #F24A3C 0% 0% no-repeat padding-box;
    }
  }
}